{% load static %}
<div class="flex gap-12 justify-center">
    <section class="w-full bg-gray-50 py-8 antialiased .:bg-gray-900 md:py-12">
        <div class="mx-auto max-w-screen-xl px-4 2xl:px-0">
           <!-- Heading & Filters -->
            <div class="mb-4 items-end justify-between space-y-4 sm:flex sm:space-y-0 md:mb-8">
                <div>
                    <nav class="flex" aria-label="Breadcrumb">
                        <ol class="inline-flex items-center space-x-1 md:space-x-2 rtl:space-x-reverse">
                        <li class="inline-flex items-center">
                            <a href="#" class="inline-flex items-center text-sm font-medium text-gray-700 hover:text-orange-600 .:text-gray-400 .:hover:text-white">
                                <svg class="me-2.5 h-3 w-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 24 24">
                                    <path d="M12 21.35l-1.45-1.32C5.4 15.36 2 12.28 2 8.5 2 5.42 4.42 3 7.5 3c1.74 0 3.41.81 4.5 2.09C13.09 3.81 14.76 3 16.5 3 19.58 3 22 5.42 22 8.5c0 3.78-3.4 6.86-8.55 11.54L12 21.35z"/>
                                </svg>                                        
                            Favorites
                            </a>
                        </li>
                        </ol>
                    </nav>
                </div>
                <div class="flex gap-4 justify-center mb-6">
                    <button id="showStores" class="bg-blue-500 text-white py-2 px-4 rounded">Stores</button>
                    <button id="showProducts" class="bg-green-500 text-white py-2 px-4 rounded">Products</button>
                </div>
            </div>
            
            <!-- Section for Restos (Initially Visible) -->
            <div id="storesSection" style="display: none;">
                {% include 'favorite_stores.html' with favorite_stores=favorite_stores %}
            </div>
            
            <!-- Section for Menus (Initially Hidden) -->
            <div id="productsSection" style="display: none;">
                {% include 'favorite_products.html' with favorite_products=favorite_products %}
            </div>
        </div>
    </section>
    <script>
        $(document).ready(function () {
            const lastSelected = localStorage.getItem('selectedSection');

            if (lastSelected === 'products') {
                $('#productsSection').show();
            } else {
                $('#storesSection').show();
            }

            $('#showStores').on('click', function () {
                $('#storesSection').show();
                $('#productsSection').hide();
                localStorage.setItem('selectedSection', 'stores'); 
            });

            $('#showProducts').on('click', function () {
                $('#productsSection').show();
                $('#storesSection').hide();
                localStorage.setItem('selectedSection', 'products'); 
            });
        });
    </script>
</div>