:root {
    --primary-color: #DC6A1E;         /* Primary */
    --secondary-color: #f3eace;       /* Secondary */
    --.-secondary-color: #644734;  /* . Secondary */
    --light-color: #E78C50;           /* Light */
    --.-color: #C15D1A;            /* . */
    --.est-color: #4C250A;         /* .est */
}