:root {
    --primary-color: #DC6A1E;         /* Primary */
    --secondary-color: #f3eace;       /* Secondary */
    --dark-secondary-color: #644734;  /* Dark Secondary */
    --light-color: #E78C50;           /* Light */
    --dark-color: #C15D1A;            /* Dark */
    --darkest-color: #4C250A;         /* Darkest */
}