{% extends 'base.html' %}{% load static %}{% block content %}
<div class="flex flex-col p-10 *:border-2 *:border-black">
  <div class="flex flex-row justify-between">
    <h1 class="text-2xl">Reviews for {{product.name}}</h1>
    <button id="add-review">Add review</button>
  </div>
  <div
    id="reviews-container"
    class="flex flex-col w-full h-96 overflow-y-scroll"
  ></div>
</div>

{% include 'review_form.html' %}

<!-- Scripts for viewing reviews -->
<script>
  let container = document.querySelector("#reviews-container");

  async function fetchReviewsByProduct(productId) {
    const endpoint = `/review/by_product/${productId}`;
    let data = await fetch(endpoint);
    let dataJson = await data.json();

    return dataJson;
  }

  const refreshProducts = () => {
    let productId = window.location.href.split("/").pop();
    let reviews = fetchReviewsByProduct(productId).then((reviews) => {
      reviews.forEach((review) => {
        let starRating = review.star_rating;
        let starsHTML = "";

        for (i = 0; i < 5; i++) {
          if (starRating > 0) {
            starsHTML += `<svg class="w-4 h-4 text-yellow-300" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 22 20">
                                <path d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z"/>
                            </svg>`;
          } else {
            starsHTML += `<svg class="w-4 h-4 text-gray-300 " aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 22 20">
                                <path d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z"/>
                            </svg>`;
          }
          starRating--;
        }
        container.innerHTML += `
                    <article class="border-b border-black p-10">
                        <div class="flex items-center justify-between mb-4">
                            <div class="font-medium">
                                <p>${review.creator}</p>
                            </div>
                            ${
                              review.editable == true
                                ? `<a class='editable_review' id='edit-${review.id}'>Edit</a>`
                                : ""
                            }
                        </div>
                        <div class="flex items-center mb-1 space-x-1 rtl:space-x-reverse">
                            ${starsHTML}
                            <h3 class="ms-2 text-sm font-semibold text-gray-900 ">${
                              review.synopsis
                            }</h3>
                        </div>
                        <footer class="mb-5 text-sm text-gray-500 "><p>Reviewed on <time datetime="${
                          review.created_at
                        }">${review.created_at}</time></p></footer>
                        <p class="mb-2 text-gray-500 ">${
                          review.base_comment.content
                        }</p>
                    </article>
                    `;
      });
    });
  };

  refreshProducts();
</script>
{% endblock content %}
