{% load static %}
<div class="flex flex-col p-10 *:border-2 *:border-black">
  <div class="flex flex-row justify-between">
    <h1 class="text-2xl">Reviews for {{product.name}}</h1>
    <button id="add-review">Add review</button>
  </div>
  <div
    id="reviews-container"
    class="flex flex-col w-full h-96 overflow-y-scroll"
  ></div>
</div>

<!-- Scripts for viewing reviews -->
<script>
  let container = document.querySelector("#reviews-container");

  async function fetchReviewsByProduct(productId) {
    const endpoint = `/review/by_product/${productId}`;
    let data = await fetch(endpoint);
    let dataJson = await data.json();

    return dataJson;
  }

  const refreshProducts = () => {
    let productId = window.location.href.split("/").pop();
    let reviews = fetchReviewsByProduct(productId).then((reviews) => {
      reviews.forEach((review) => {
        container.innerHTML += `
                    <div id=${review.id} class="flex flex-col justify-center items-start shrink-0 h-fit w-full p-10">
                        <p class="font-bold">${review.creator}</p>
                        <p>${review.star_rating}</p>
                        <p>${review.base_comment.content}</p>
                    </div>
                    `;
      });
    });
  };

  refreshProducts();
</script>
