{% load static %}

{% block content %}
    <div class="mx-auto max-w-screen-md text-center mb-8 lg:mb-16 mt-12">
        <h2 class="mb-4 text-4xl tracking-tight font-extrabold text-gray-900 dark:text-white">Ajeg Features</h2>
        <p class=" text-gray-500 lg:mb-16 sm:text-xl dark:text-gray-400">Ajeg is a dynamic food recommendation and ordering web app designed to enhance the dining experience. With its intuitive interface, users can discover personalized food recommendations based on their preferences, location, and trending dishes. </p>
    </div> 
    {% include 'landing_carousel.html' %}
{% endblock content %}