{% load static %}



<footer class="bg-gray-100 text-black shadow dark:bg-black">
    <div class="w-full max-w-screen-xl mx-auto p-4 md:py-8">
        <div class="sm:flex sm:items-center sm:justify-between">
            <a href="https://flowbite.com/" class="flex items-center mb-4 sm:mb-0 space-x-3">
                <img src="{% static 'image/ajeglogo.png' %}" class="h-12" alt="Ajeg logo" />
            </a>
            <ul class="flex flex-wrap items-center mb-2 text-sm font-medium text-black sm:mb-0 dark:text-black">
                <li>
                    <a href="#" class="hover:underline me-4 md:me-6">About</a>
                </li>
                <li>
                    <a href="#" class="hover:underline me-4 md:me-6">Privacy Policy</a>
                </li>
                <li>
                    <a href="#" class="hover:underline me-4 md:me-6">Licensing</a>
                </li>
                <li>
                    <a href="#" class="hover:underline">Contact</a>
                </li>
            </ul>
        </div>
        <hr class="my-6 border-black sm:mx-auto dark:border-black lg:my-8" />
        <span class="block text-sm text-black sm:text-center dark:text-black">© 2024 <a href="" class="hover:underline">Ajeg</a>. All Rights Reserved.</span>
    </div>
</footer>

