{% extends 'base.html' %}

<!DOCTYPE html>
<html lang="en">
<head>
    {% block meta %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ajeg</title>
    {% endblock %}
</head>
    <body>
        {% block content %}
        {% include 'navbar.html' %}
        {% include 'hero.html' %}
        {% include 'content.html' %}
        {% include 'testimonials.html' %}
        {% include 'teams.html' %}
        {% include 'footer.html' %}
        {% endblock content %}
    </body>
</html>