{% extends 'base.html' %}

<!DOCTYPE html>
<html lang="en">
  <head>
    {% block meta %}
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ajeg</title>
    <script src="https://cdn.jsdelivr.net/npm/dompurify@3.1.7/dist/purify.min.js"></script>
    {% endblock %}
  </head>
  <body>
    {% block content %} {% include 'navbar.html' %}
    {% include 'products.html' %}
    <p>in main</p>

    {% endblock content %}
  </body>
</html>
